
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Prop+Double:wght@100..900&display=swap');


.title{
	-fx-font-family: "Bitcount Prop Double", system-ui;
	-fx-font-size:60px;
}
.menuButton{
	-fx-background-color: transparent;
	 -fx-border-color: transparent;
	 -fx-focus-color: transparent;
	 -fx-padding: 0;
	 
}

#declarationText{
	-fx-font-family: "Bebas Neue", sans-serif;
	-fx-font-size:20px;
}


